<div class="about">
  <div class="wrapper">
    <div class="about__wrapper">
      <h3>Об авторе курса</h3>
      <img src="images/63863547.jpg" alt="Эльмира Байрамова">
      <div class="about__content">
        <div class="about__name">Эльмира Байрамова</div>
        <div class="about__description">
          Профессиональная танцовщица восточных танцев, блогер миллионик, Участница шоу «Танцы на ТНТ» и «Новые танцы на ТНТ» и эксперт в области восточных танцев.Чемпионка России по Belly dance, чемпионка Грузии, призер Чемпионата Мира и Европы, тренер и сертифицированный судья по восточному танцу. Ее страсть к танцам и женственности вдохновляет многих девушек по всему миру начать танцевать.😍
        </div>
      </div>
      <a class="about__button" href="https://tapy.me/elmira" (click)="onClick('tapyme_click')">Все соц.сети</a>
    </div>
  </div>
</div>
