.about {
  padding: var(--spacing-sm) 0;

  &__wrapper {
    font-size: 0;
  }

  &__content {
    background-color: var(--color-white);
    padding: var(--spacing-sm);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__name {
    font-size: 17px;
  }

  &__description {
    margin-top: var(--spacing-xs);
    font-size: 15px;
  }

  &__button {
    display: block;
    padding: 17px 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--color-white);
    color: var(--color-text);
  }
}

h3 {
  padding-bottom: var(--spacing-sm);
}
