<footer class="footer">
  <div class="wrapper">
    <div class="footer__wrapper">
      <h3>Контакты</h3>
      <h3>Мои социальные сети</h3>
      <div class="footer__list">
        <a
          class="footer__social"
          [href]="environment.contacts.instagram"
          target="_blank"
          appTrackClick="instagram_contacts_click"
        >
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a
          class="footer__social"
          [href]="environment.contacts.vk"
          target="_blank"
          appTrackClick="vk_contacts_click"
        >
          <fa-icon [icon]="faVk"></fa-icon>
        </a>
        <a
          class="footer__social"
          [href]="environment.contacts.tiktok"
          target="_blank"
          appTrackClick="tiktok_contacts_click"
        >
          <fa-icon [icon]="faTiktok"></fa-icon>
        </a>
        <a
          class="footer__social"
          [href]="environment.contacts.tg"
          target="_blank"
          appTrackClick="telegram_contacts_click"
        >
          <fa-icon [icon]="faTelegram"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
