.footer {
  background-color: var(--color-accent-pink);
  color: var(--color-white);
  text-align: center;
  padding-bottom: 28px;

  h3 {
    font-weight: 400;
    padding: var(--spacing-sm) var(--spacing-xs);

    &:first-child {
      padding: var(--spacing-sm) 0;
    }
  }

  &__social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-primary);
    font-size: 30px;
    line-height: 1;
    color: var(--color-white);
    transition: opacity 0.1s;

    &:hover {
      opacity: 0.9;
    }
  }

  &__social + &__social {
    margin-left: var(--spacing-sm);
  }
}
