<div class="gallery">
  <div class="wrapper">
    <div class="gallery__wrapper">
      <h3>Галерея</h3>
      <div class="gallery__title">Отзывы учениц:</div>
      <swiper-container appSwiper [config]="options" init="false" class="gallery__list">
        <swiper-slide class="gallery__item">
          <img ngSrc="images/63863963.webp" width="774" height="387" alt="Отзывы учеников" />
          <div class="gallery__content">
            <div class="gallery__content-title">Отзывы учеников 💗</div>
            <div class="gallery__content-text">
              Девушки доверились мне и получили гормон счастья, владение телом и соприкоснулись
              с одним из самых женственных танцев. ♥️ Нежные и эффектные движения ориентального
              танца передают всю его изящность и красоту женщин!
            </div>
          </div>
        </swiper-slide>
        <swiper-slide class="gallery__item">
          <img ngSrc="images/63903417.webp" width="649" height="486" alt="София" />
          <div class="gallery__content">
            <div class="gallery__content-title">Отзыв от Софии</div>
            <div class="gallery__content-text">
              София освоила базу восточного танца, смогла научиться управлять своим телом и в целом
              получила большое удовольствие от занятия!
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
