.gallery {
  margin-bottom: var(--spacing-sm);

  swiper-container {
    --swiper-navigation-color: var(--color-primary);
  }

  &__title {
    text-align: center;
    padding: var(--spacing-xs) 0 var(--spacing-sm);
  }

  &__item {
    background-color: #e9ecef;
    text-align: center;
  }

  &__item + &__item {
    margin-top: var(--spacing-sm);
  }

  &__content {
    padding: var(--spacing-sm);
  }

  &__content-title {
    color: #000000;
    font-size: 17px;
  }

  &__content-text {
    margin-top: var(--spacing-xs);
    font-size: 15px;
  }
}
