@use '../../mixins' as *;

.gallery {
  margin-bottom: var(--space-4);

  h2 {
    @include heading-2;
    margin-bottom: var(--space-3);
  }

  h3 {
    @include heading-3;
    margin-bottom: var(--space-2);
  }

  swiper-container {
    --swiper-navigation-color: var(--color-primary);
  }

  &__item {
    background-color: #e9ecef;
    text-align: center;
  }

  &__item + &__item {
    margin-top: var(--space-4);
  }

  &__content {
    padding: var(--space-4);
  }

  &__content-title {
    @include body-text;
    font-weight: 700;
  }

  &__content-text {
    @include body-text-small;
    margin-top: var(--space-2);
  }
}
