<div class="course">
  <div class="wrapper">
    <img ngSrc="images/63862978.webp" width="1080" height="1920" alt="Содержание курса" />
    <div class="sr-only">
      <h2>Содержание курса</h2>
      <ol>
        <li>
          <h3>1. РАБОТА ПЕРЕД ЗЕРКАЛОМ</h3>
          <ul>
            <li>Секреты позирования, модельное дефиле;</li>
            <li>Работа над постановкой корпуса, рук, ног;</li>
            <li>Пробуем: импровизация с женственными движениями</li>
            <li>
              Учим танец с восточными и современными движениями для вечеринки/для своей половинки
            </li>
          </ul>
        </li>
        <li>
          <h3>2. ТАНЕЦ И НЕВЕРБАЛЬНЫЕ СИГНАЛЫ</h3>
          <ul>
            <li>Справка про историю самого женственного восточного танца, посыл движений.</li>
            <li>Учим базу восточных движений и восточный танец под арабский трек</li>
          </ul>
        </li>
        <li>
          <h3>3. ТАНЕЦ И РАСКРЫТИЕ СЕБЯ,</h3>
          <ul>
            <li>
              Учим танец из популярного индийского фильма с восточными и клубными движениями и
              танцуем его для публики
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
</div>
