@use '../../mixins' as *;

.header {
  text-align: center;
  padding: var(--space-4) 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__about {
    @include body-text;
    font-weight: 600;
    padding-bottom: var(--space-2);
  }

  h1 {
    @include heading-1;
  }

  &__portrait {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    margin: var(--space-3) 0;
  }

  &__description {
    @include body-text-small;
  }
}
