<header class="header">
  <div class="wrapper">
    <div class="header__wrapper">
      <b class="header__about">Блогер миллионик, профессиональная танцовщица и педагог Belly dance</b>
      <img src="images/bc9db2.jpg" alt="">
      <h2>Обучение танцу живота от Эльмиры Байрамовой</h2>
      <div class="header__description">
        Хотите окунуться в мир восточной магии, женственности и уверенности? я помогаю женщинам обрести уверенность через танец! Тогда здесь ты можешь получить курс для любого уровня или записать на персональные онлайн-занятия! Раскройте свою женскую силу и красоту!
      </div>
    </div>
  </div>
</header>
