<footer class="footer">
  <div class="wrapper">
    <div class="footer__wrapper">
      <h3>Контакты</h3>
      <h3>Мои социальные сети</h3>
      <div class="footer__list">
        <a class="footer__social" href="https://instagram.com/elmira__bai/">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a class="footer__social" href="https://vk.com/clubbelmirab">
          <fa-icon [icon]="faVk"></fa-icon>
        </a>
        <a class="footer__social" href="https://www.tiktok.com/@elmiraboom">
          <fa-icon [icon]="faTiktok"></fa-icon>
        </a>
        <a class="footer__social" href="tg://resolve?domain=ElmiraBai1">
          <fa-icon [icon]="faTelegram"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</footer>
