.price {
  background-color: var(--color-primary);
  text-align: center;
  overflow: hidden;

  &__wrapper {
    padding: var(--spacing-sm) 0;

    @media (max-width: 768px) {
      padding: var(--spacing-sm);
    }
  }

  &__list {
    padding: var(--spacing-xs) 0 var(--spacing-sm);
  }

  &__item {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 7fr;
    height: auto;
    text-align: left;
    background-color: var(--color-white);
    border-radius: var(--radius-sm);
    padding: var(--spacing-sm);
    box-sizing: border-box;
  }

  &__title {
    font-family: var(--font-serif), serif;
    margin-top: var(--spacing-xs);
    font-size: 24px;
  }

  &__sum {
    font-family: var(--font-serif), serif;
    margin-top: var(--spacing-md);
    font-size: 30px;
  }

  &__description {
    margin-top: var(--spacing-md);
    font-size: 17px;
  }

  &__result {
    font-size: 17px;
    font-weight: 700;
    margin: var(--spacing-md) 0 var(--spacing-xs);
  }

  &__result-list {
    padding-left: 15px;
    margin: 0;
  }

  &__result-item {
    font-size: 17px;

    &::marker {
      font-family: var(--font-serif), serif;
      font-size: 14px;
    }
  }

  &__result-item + &__result-item {
    margin-top: 5px;
  }
}
