.price {
  background-color: #7d3c4a;
  text-align: center;
  overflow: hidden;

  &__wrapper {
    padding: 14px 0;

    @media (max-width: 768px) {
      padding: 14px;
    }
  }

  &__list {
    padding: 7px 0 14px;
  }

  &__item {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 2fr 0.5fr 7fr;
    height: auto;
    text-align: left;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 14px;
    box-sizing: border-box;
  }

  &__title {
    font-family: 'Merriweather', serif;
    margin-top: 7px;
    font-size: 24px;
  }

  &__sum {
    font-family: 'Merriweather', serif;
    margin-top: 21px;
    font-size: 30px;
  }

  &__description {
    margin-top: 21px;
    font-size: 17px;
  }

  &__result {
    font-size: 17px;
    font-weight: 700;
    margin: 21px 0 7px;
  }

  &__result-list {
    padding-left: 15px;
    margin: 0;
  }

  &__result-item {
    font-size: 17px;

    &::marker {
      font-family: 'Merriweather', serif;
      font-size: 14px;
    }
  }

  &__result-item + &__result-item {
    margin-top: 5px;
  }
}
