<div class="description">
  <div class="wrapper">
    <div class="description__wrapper">
      <h3>Танцуй и расцветай!</h3>
      <img
        ngSrc="images/63864120.webp"
        width="1080"
        height="1529"
        priority
        alt="Женственность через танец"
      />
      <div class="description__text">
        Новый онлайн-курс «Женственность через танец» — старт 1 октября! 💙
        <br />
        ‌Этот курс шире, чем просто изучение восточного танца. Он поможет тебе узнать тело лучше,
        управлять им как инструментом для достижения своих целей. Обаяние, раскрепощение, раскрытие
        женственности, умение танцевать перед кем ты захочешь, снятие блоков. Все это ты получишь
        после курса!
      </div>
      <div class="description__break">
        <svg
          class="description__heart"
          role="none"
          data-mode="fill"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
        >
          <path
            d="M16 8.16c.512-.896 1.152-1.664 1.92-2.304 2.88-2.336 7.36-2.112 9.952.544 2.048 2.112 2.56 4.64 1.76 7.424-.608 2.176-1.792 4.032-3.2 5.76-2.336 2.784-5.12 4.96-8.16 6.88a68.73 68.73 0 0 1-2.048 1.216c-.096.064-.288.096-.384.032-3.488-1.984-6.752-4.288-9.472-7.264-1.664-1.76-3.008-3.744-3.808-6.048-.672-1.92-.8-3.84.032-5.728C3.68 6.24 5.6 4.736 8.256 4.352c3.328-.448 5.92.8 7.68 3.712 0 .032.032.032.064.096z"
          ></path>
        </svg>
      </div>
      <a
        class="btn btn--tg"
        [href]="environment.contacts.tg"
        target="_blank"
        appTrackClick="telegram_click"
      >
        <fa-icon class="btn__icon" [icon]="faTelegram"></fa-icon>
        <div class="btn__text">Узнать больше/купить</div>
      </a>
      <a
        class="btn btn--ig"
        [href]="environment.contacts.instagram"
        target="_blank"
        appTrackClick="instagram_click"
      >
        <fa-icon class="btn__icon" [icon]="faInstagram"></fa-icon>
        <div class="btn__text">Инстаграм</div>
      </a>
    </div>
  </div>
</div>
<div class="separator">
  <span class="separator__line"></span>
</div>
