:root {
  --color-primary: #7d3c4a;
  --color-bg: #f4d8de;
  --color-accent-pink: #dd8b9c;
  --color-text: #7d3c4a;
  --color-white: #ffffff;
  --radius-sm: 5px;
  --radius-md: 10px;
  --spacing-xs: 7px;
  --spacing-sm: 14px;
  --spacing-md: 21px;
  --font-serif: 'Merriweather';
  --font-sans: 'Open Sans';
}

body {
  font-family: var(--font-sans), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-family: var(--font-serif), serif;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

iframe {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.wrapper {
  max-width: 792px;
  margin: 0 auto;
}

.btn {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 56px 8px 8px;
  box-sizing: border-box;
  border-radius: var(--radius-md);
  transition: opacity 0.1s;

  &:hover {
    opacity: 0.9;
  }

  &--tg {
    background-color: #61a8de;
  }

  &--ig {
    background-color: #f00075;
  }

  &__icon {
    font-size: 42px;
  }

  &__text {
    flex-grow: 1;
    text-align: center;
  }
}
